<div class="col-xs-6 col-sm-5 sidebar-offcanvas" id="sidebar" role="navigation">
  <div class="well sidebar-nav graph-sidebar hide-right">
    <div id="graph-container"></div>
  </div>
  <div class="well sidebar-nav" id="query_sidebar">
    <ul class="nav">
      <li><strong>Previous Queries</strong></li>
      {% for query in queries %}
        <li{% if query.query == activeQuery %} class="active"{% endif %}>
            <a class="query-link" data-query="{{ query.query }}" href="#">{{ query.query }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
