{% extends 'layout.twig' %}

{% block content %}
<p>Here are some thoughts on how this thing works.
<p>Although some of the backend components are perhaps a bit more general than is necessary, I had some reasoning behind it. I tried to approach this project as I would any other internal tool, which would require extension and modification over time.
<p>So, I designed this with that in mind. In a real setting, I'd have likely used an existing web framework, rather than building up the tiny little not-really-a-framework thing I've built here. But that would have been even more overkill than the current thing is.
<p>The graph is pretty cool. We try to convert the times to the timezone reported by your browser. I'm fairly certain it works.
{% endblock %}

{% block sidebar %}{% endblock %}
